



/* .two-section{
    padding: 120px 0;
}



.section-two-list{
    list-style-type: none;
    display: flex;
    gap:24px;
}

.section-two-list:first-child{
    width:calc((100%-3*24px)/4);
}

.section-two-list-item{
    display: flex;
    flex-direction: column;
    max-width: 264px;
}

.section-two-icon{
    display: flex;
    width: 264px;
    height: 112px;
    border:1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.section-two-list-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.section-two-list-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.section-three{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-three-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2e2f42;
    margin-bottom: 72px;
} */

.section-three-list{
    list-style-type: none;
    display: flex;
    gap:24px;
}

.section-three-list-item{
    background-color: white;
    width: calc((100% - 3*24px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.social-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 24px;
}

.social-list-link{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: #404BBF;
}

.social-icon{
    fill: #f4f4fd;
}

.section-three-item-container{
    padding: 32px 0;
}

.section-three-list-title-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    color: #2E2F42;
    /* margin-top: 32px; */
    text-align: center;
    margin-bottom: 8px;
}

.section-three-text{
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-section{
    padding: 120px 0;
}

.sectoin-potfolio-title{
    font-size: 36px;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.sectoin-potfolio-list{
    list-style-type: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.section-portfolio-item:hover,
.section-portfolio-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio-item:hover .overlay,
.section-portfolio-item:focus .overlay{
    transform: translateY(0%);
}

.portfolio-items-img-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectoin-potfolio-title-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    /* margin-top: 32px;
    padding:0 16px; */
}

.sectoin-potfolio-text{
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
    
}

.page-footer{
    background-color: #2E2F42;
    padding: 100px 0;
    display: flex;
}

.page-footer-container{
    display: flex;
    align-items: baseline;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-container{
    margin-right: 120px;
}

.page-footer-logo-link{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer-logo-span{
    color: #f4f4fd;
}

.page-footer-text{
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.footer-social-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 16px;
    margin-right: 80px;
}

.footer-social-list-link{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus{
    background-color: #31D0AA;
}


.page-footer-subscribe-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-subscribe-form{
    display: flex;
    gap: 24px;
}

.user-email-send{
    display: block;
}

.subscribe-form-user-email{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 8px 16px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; /* 200% */
    letter-spacing: 0.04em;
    background-color: transparent;
}

.subscribe-form-user-email:focus{
    border-color: #4D5AE5;
    outline: transparent;
}

.subscribe-form-user-email::placeholder{
    color: #FFFFFF;
}

.subscribe-form-button{
    display: flex;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    border: none;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.subscribe-form-button:hover,
.subscribe-form-button:focus{
    background-color: #404BBF;
}

.icon-send{
    margin-left: 16px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;    
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color:#FCFCFC;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    fill:#2E2F42;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus{
    background-color: #404BBF;
    border: none;
    fill:#FFFFFF;
}
.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-description{
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.form-field-container{
    margin-bottom: 8px;
}

.form-field-label{
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.form-field-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.form-field-input:focus{
    border-color: #4D5AE5;
}

.form-field-input-wrapper{
    position: relative;
    margin-bottom: 8px;
}

.form-feild-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus + .form-feild-icon{
    fill: #4D5AE5;
}

.form-field-container-texterea{
    margin-bottom: 16px;
}
.form-field-comment{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent;
}

.form-field-comment::placeholder{
    color: rgba(46, 47, 66, 0.40);
}

.form-field-comment:focus{
    border-color: #4D5AE5;
    
}

.form-field-checkbox{
    margin-bottom: 24px;
}

.form-field-checkbox-span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border:1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    fill:transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-checkbox-input:checked 
+ .form-field-checkbox-label 
> .form-field-checkbox-span{
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.form-field-checkbox-input:focus
+ .form-field-checkbox-label 
> .form-field-checkbox-span{
    outline:1px solid #4D5AE5;
}

.form-field-checkbox-label{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-field-ceckbox-privacy-link{
    color: #4D5AE5;
}

.form-field-button-submit{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4D5AE5;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-button-submit:hover,
.form-field-button-submit:focus{
    background-color: #404BBF;
}